/* Use the theme's background color for the preview */
.sbdocs-preview::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: hsl(var(--background));
  opacity: 1;
}

/* Container of the "Show code" button */
.sbdocs-preview > .docs-story > div:last-child {
  background: transparent !important;
}

/* The "Show code" code block */
.docs-story + div {
  background: #12161a;
}

.sbdocs h1 > a[aria-hidden="true"],
.sbdocs h2 > a[aria-hidden="true"],
.sbdocs h3 > a[aria-hidden="true"],
.sbdocs h4 > a[aria-hidden="true"],
.sbdocs h5 > a[aria-hidden="true"],
.sbdocs h6 > a[aria-hidden="true"] {
  position: absolute;
  color: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

/* Better UX on mobile */
.sbdocs div:has(> .docblock-argstable) {
  overflow-y: auto;
}
.sbdocs div:has(> .docblock-argstable) .docblock-argstable {
  margin-top: 0;
}
