{
  "jest.runMode": {
    "type": "watch",
    "deferred": true
  },
  "jest.virtualFolders": [
    {
      "name": "sum",
      "rootPath": "packages/sum"
    },
    {
      "name": "plus-two",
      "rootPath": "packages/plus-two"
    },
    {
      "name": "plus-four",
      "rootPath": "packages/plus-four"
    }
  ]
}
